<!DOCTYPE html>
{% extends 'base.html' %}


<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
	Provincias
{% endblock title %}

<!-- Block Header ---------------------------------------------------------------------------------------->
{% block header %}
{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
	<form method="post" class="mt-5">
		{% csrf_token %}
		<div class="card text-center col-md-6 offset-md-3">
			<div class="card-header">
				Eliminar Provincia
			</div>
			<div class="card-body">
				<h5 class="card-title">Atención!</h5>
				<p class="card-text">¿Está seguro de eliminar la provincia: <strong>{{ provincia }}</strong>?</p>
				
				<button class="btn btn-danger" type="submit">Eliminar</button>
				<a class="btn btn-outline-secondary" href="{% url 'provincia_listar' %}" role="button">Cancelar</a>
			</div>
		</div>
	</form>
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}


