<!DOCTYPE html>
{% extends 'base.html' %}


<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
	Productos
{% endblock title %}

<!-- Block Header ---------------------------------------------------------------------------------------->
{% block header %}
{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
	<div class="container">
		<div class="row my-3">
			<div class="col">
				<div class="card">
					<div class="card-header">
						{{ accion }} Productos
					</div>
					
					<div class="card-body">
						{% if form.errors %}
							<div class="alert alert-danger alert-dismissible fade show mt-3">{{ form.errors }}</div>
						{% endif %}
						<form method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col">
									<label for="medida" class="form-label">Medida</label>
									<input type="text" class="form-control" id="medida" name="medida" placeholder="Medida"
										value="{{ form.medida.value | default:'' }}" autocomplete="off">
								</div>

								<div class="col">
									<label for="cai" class="form-label">CAI</label>
									<input type="text" class="form-control" id="cai" name="medida" placeholder="CAI"
										value="{{ form.cai.value | default:'' }}" autocomplete="off">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label for="Lista" class="form-label">Nombre</label>
									<input type="text" class="form-control" id="Lista" name="nombre" placeholder="Nombre"
										value="{{ form.nombre.value | default:'' }}" autocomplete="off">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label for="costo" class="form-label">Costo</label>
									<input type="text" class="form-control" id="costo" name="costo" placeholder="Costo"
										value="{{ form.costo.value | default:'' }}" autocomplete="off">
								</div>
								<div class="col">
									<label for="aliciva" class="form-label">Alicuota IVA</label>
									<input type="text" class="form-control" id="aliciva" name="aliciva" placeholder="Alicuota IVA"
										value="{{ form.aliciva.value | default:'' }}" autocomplete="off">
								</div>
								<div class="col">
									<label for="precio" class="form-label">Precio</label>
									<input type="text" class="form-control" id="precio" name="precio" placeholder="Precio"
										value="{{ form.precio.value | default:'' }}" autocomplete="off">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label for="marca" class="form-label">Marca</label>
									{{ form.idmarcar }}
								</div>
								<div class="col">
									<label for="modelo" class="form-label">Modelo</label>
									{{ form.idmodelo }}
								</div>
								<div class="col">
									<label for="Familia" class="form-label">Familia</label>
									{{ form.idfamilia }}
								</div>
							</div>

							<div>
								<div class="col">
									<label for="idestado" class="form-label">Estado</label>
									{{ form.idestado }}
								</div>
							</div>

							<div class="mt-3">
								<a class="btn btn-secondary" href="{% url 'lista_listar' %}">Salir</a>
							</div>
						</form>
					</div> <!-- /End Body -->
					
					<div class="card-footer text-muted">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}
