<!DOCTYPE html>
{% extends 'base.html' %}

<!-- Block Title  ---------------------------------------------------------------------------------------->
{% block title %}
	Productos
{% endblock title %}

<!-- Block Header ---------------------------------------------------------------------------------------->
{% block header %}
	{% include 'navbar.html' %}
{% endblock header %}

<!-- Block Main - ---------------------------------------------------------------------------------------->
{% block main %}
	<div class="container">
		<div class="card border-light mb-3 mt-5">
			<div class="card-header">Lista de Productos</div>
			<div class="card-body">
				<div class="row">
					<div class="col col-10">
						<form method="get">
							<div class="input-group flex-nowrap">
								<span class="input-group-text">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-search" viewbox="0 0 16 16">
										<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
									</svg>
								</span>
								<input type="text" class="form-control" name="buscar" value="{{ buscar }}" placeholder="Medida o CAI">
								<button class="btn btn-outline-primary">Buscar</button>
							</div>
						</form>
					</div>
				</div>
				<div class="table-responsive mt-3">
					<table class="table">
						<thead class="table-primary">
							<tr>
								<th class="col-1">Medida</th>
								<th class="col-1">CAI</th>
								<th class="col-5">Nombre</th>
								<th class="col-2">Marca</th>
								<th class="col-1">Precio</th>
								<th class="col-1">Opciones</th>
							</tr>
						</thead>
						<tbody>
							{% for p in listas %}
							<tr>
								<td>{{ p.medida }}</td>
								<td>{{ p.cai }}</td>
								<td>{{ p.nombre }}</td>
								<td>{{ p.idmarcar }}</td>
								<td>{{ p.precio }}</td>
								<td>
									<!-- Botón Editar -->
									<a class="btn btn-outline-primary" href="{% url 'lista_editar' p.id 'Editar' %}" role="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
											class="bi bi-pen" viewbox="0 0 16 16">
											<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
										</svg>
									</a>
									<!-- muestro stock -->
									<a class="btn btn-outline-primary" href="{% url 'stockmedida' p.id %}"
										role="button">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
											<path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
											<path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
											<path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
										  </svg>
									</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% include 'paginador.html' with entity=listas paginator=paginator %}
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

<!-- Block Fotter ---------------------------------------------------------------------------------------->
{% block footer %}
{% endblock footer %}